.agency {
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 70px;
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: #252B42;
    }

    &__btn {
        padding: 15px 40px;
        background: #ffa62b;
        outline: none;
        border: 0;
        border-radius: 5px;
    }
}