.col{
    &__content{
 padding-right: 100px;
    }
    &__left{
      margin-right: -270px;
       margin-top: 100px;
      padding-left: 100px;
       
    }
 &__title{
    max-width: 324px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
 }
&__subtitle{
 max-width: 330px;
}
&__img{
    margin-left: -40px;
 
    margin-top: 10px;
    margin-bottom: -90px;
}
&__img2{
    margin-left: -40px;
    margin-top: 10px;
    margin-bottom: -35px;
}
&__right{
    margin-right: -20px;
}
&__text{
    padding-top: 50px;
}
&__text2{
    padding-bottom: 50px;
}
}