.done {
    background-color: #fff;
    display: flex;
    justify-content: center;
  margin-bottom: 180px;
    &__content {
        display: flex;
        justify-content: center;
        margin-left: 20px;
    }

    &__card {
        margin-top: 40px;
        border: 1px solid white;
        max-width: 230px;
        background-color: #fff;
        margin-left: 20px;
        box-shadow: 2px 2px 10px black;
    }

    &__title {
        padding-top: 30px;
        padding-left: 36px;
        padding-right: 76px;
        padding-bottom: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252B42;
    }

    &__subtitle {
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 25px;
        padding-bottom: 10px;
    }

    &__img {
        width: 100%;
        margin-bottom: -5px;
    }

    &__card2 {
        margin-top: 40px;
        border: 1px solid white;
        max-width: 230px;
        background-color: #fff;
        margin-left: 20px;
        box-shadow: 2px 2px 10px black;

    }

    &__title2 {
        padding-top: 30px;
        padding-left: 36px;
        padding-right: 76px;
        padding-bottom: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252B42;
    }

    &__subtitle2 {
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 25px;
        padding-bottom: 10px;
    }

    &__img2 {
        width: 100%;
        margin-bottom: -10px;
    }

    &__card3 {
        margin-top: 40px;
        border: 1px solid white;
        max-width: 230px;
        background-color: #fff;
        margin-left: 20px;
        box-shadow: 2px 2px 10px black;

    }

    &__title3 {
        padding-top: 30px;
        padding-left: 36px;
        padding-right: 76px;
        padding-bottom: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252B42;
    }

    &__subtitle3 {
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 25px;
        padding-bottom: 10px;
    }

    &__img3 {
        width: 100%;
        margin-bottom: -4px;
    }

    &__card4 {
        margin-top: 40px;
        border: 1px solid white;
        max-width: 230px;
        background-color: #fff;
        margin-left: 20px;
        box-shadow: 2px 2px 10px black;

    }

    &__title4 {
        padding-top: 30px;
        padding-left: 36px;
        padding-right: 76px;
        padding-bottom: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252B42;
    }

    &__subtitle4 {
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 25px;
        padding-bottom: 10px;
    }

    &__img4 {
        width: 100%;
        margin-bottom: -5px;



    }
}