.navbar{
  display: flex;
  height: 80px;
  align-items: center;
    .navbar__content{
       display: flex;
       align-items: center;
       justify-content: space-between;
    }
    &__left{
   display: flex;
   align-items: center;
    }
       &__menu{
           display: flex;
           align-items: center;
           margin-right: 21px;
       }
 &__item{
        margin-left: 21px;
        a{
          font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
        }
  }
  

    }
   