.service {

    &__title {
        display: flex;
        justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;
        max-width: 461px;
        margin-left: 389px ;
        margin-right:289px ;
    }
&__subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    max-width: 511px;
    padding-top: 10px;
    margin-left: 360px ;
        margin-right:289px ;
}








}