.cases{
    display: flex ;
    &__content{
       display: flex;
    }
    .card{
        height: 209px;
        width: 230px;
         border-radius: 0px;
       padding: 30px 40px 30px 40px;
    }
   
   
   
   
   
   
   }